[2014-05-21 19:37] cpsievert opened #1 "DESCRIPTION file"
It'd be nice to use `devtools::install_github` for installation which requires a DESCRIPTION.

[2014-05-21 19:45] #1 closed, assigned to nobody

[2014-05-28 23:14] ramnathv opened #3 "Implementation using Reference Classes"
I am experimenting with an implementation of `gistr` using reference classes and was wondering if this API would be cleaner. You will find my preliminary implementation [here](https://gist.github.com/ramnathv/899ce6e6f8fc4f0d9a10).

The idea is to allow a workflow that resembles this

[code]

One big advantage I see to using reference classes here is that we can implement pretty sophisticated stuf

[2014-06-06 15:07] tdhock opened #4 "posting a PNG?"
I would like to post a PNG to a gist but I am getting the following error

[code]

the image I tried to upload is below -- I uploaded it using git clone, git add, git commit, git push .

https://gist.githubusercontent.com/tdhock/1f01f3359f60582a67cf/raw/19504d4bdf7daa8bdec14868723ef88ded794d79/thumbnail.png

also I can upload lots of other files (text files). Is there some problem with uploading b

[2014-06-06 15:29] #4 closed, assigned to nobody

[2014-07-01 21:13] sckott opened #5 "Add support for personal access tokens"

[2014-10-17 17:29] #5 closed, assigned to sckott

[2014-10-17 19:58] sckott opened #7 "Add some tests"

[2014-10-19 23:57] sckott opened #8 "Add ability to create new gist w/o having to create a file first"
[code]

obviously more complicated sets of objects should be possible

[2014-10-20 19:33] sckott opened #9 "Add fork function"

[2014-10-20 20:22] #9 closed, assigned to nobody

[2014-10-20 21:25] #8 closed, assigned to nobody

[2014-10-22 19:03] sckott opened #10 "Thoughts?"
@hadley @ramnathv

I've reworked the API for the package on the `dev` branch.

I'd love to know what you think.

Hadley, I've more or less copied the interface you introduced in `analogsea` as I thought it would work well in the gist context.

See the readme for intro: https://github.com/ropensci/gistr/tree/dev#quick-start

[2014-10-23 23:14] sckott opened #11 "Add egs for non-piping workflow"

[2014-10-24 18:01] sckott opened #12 "Possibly add option to knit an Rmd file or code block before POSTing gist?"
would have to add `knitr` as an import

[2014-10-27 04:59] #10 closed, assigned to nobody

[2014-10-27 04:59] #3 closed, assigned to nobody

[2014-10-27 16:20] #12 closed, assigned to nobody

[2014-10-27 17:29] #7 closed, assigned to sckott

[2014-10-27 17:29] sckott opened #13 "Make a vignette"
- Add egs for non-piping workflow

[2014-11-09 15:55] sckott opened #15 "Allow knitting file with `edit()`, or knit as separate step"
Right now, running code is only in `gist_create()`, but not avail if you want to edit an existing gist.

Allow knitting on an update in `edit()`:

[code]

or perhaps as a separate step

[code]

[2014-11-11 00:34] #11 closed, assigned to nobody

[2014-11-11 00:48] sckott opened #16 "Pass on name to output knitted file"
e.g., this one https://gist.github.com/sckott/1548267c71d267706de0 the output file name is not what it should be by default `code.R`, or rather `code.md`

[2014-11-11 01:41] #15 closed, assigned to sckott

[2014-12-03 03:12] #13 closed, assigned to sckott

[2014-12-10 20:56] karthik opened #18 "Rename edit to update?"
When I do something like this:

[code]
my action is mostly updating the gist itself. So shouldn't the verb be `update` instead of `edit`?

[2015-01-02 21:38] #18 closed

[2015-01-14 23:41] sckott opened #19 "Upload sources in addition to knitted output"
E.g.,

when running `gist_create(file, knit=TRUE)`, toggle parameter to also throw up the source file, either .Rmd or .Rnw

from @jennybc

[2015-01-16 22:30] sckott opened #20 "make sure .rnw works"

[2015-01-16 22:54] #20 closed

[2015-01-16 23:08] sckott commented on #19
@jennybc i think this works now, let me know if you want different behavior

[2015-02-15 21:39] sckott opened #24 "gist_map piping?"
@karthik sorry to keep asking questions, but it looks like the file name for this fxn is only needed to append to the url (that is, no local file manipulation needed in the fxn). Can we just get that from the output of `gist_create()`?, and if so, then the output of `gist_create()` can be piped to `gist_map()` as it's first argument? Or are you trying to support if someone wants to use a local fil

[2015-02-15 21:47] sckott commented on #24
getting file name by doing e.g. `names(gist_id$files)`

[2015-02-15 21:53] karthik commented on #24
Good question.That's how I originally had it but for some reason thought multiple files could be associated with the same gist. Will fix.

[2015-02-15 22:06] sckott commented on #24
cool, thx

[2015-02-16 12:02] karthik opened #25 "Improve gist return"
The `gist` class is extremely frustrating to work with. Unless I'm doing something wrong, the actual gist ids are inaccessible. e..g.

[code]

I would love to just have a simple data.frame (or list that can be easily flattened) to work with for a practical use case other than uploading. like

[code]

[2015-02-16 12:02] karthik commented on #25
I realize the gist ids are in `x[[1]]$id`

[2015-02-16 12:12] karthik commented on #24
Actually, I still see the problem I had before. e.g.

[code]

So there are two files with this gist. If I do `names(gist_id$files)`, and two are returned,  these two lines will fail:

[code]

that's why I was passing a file argument. Should I just check for `geojson`, and only plot those?
What if there are more than one geojson? Map all of them?

[2015-02-16 20:43] sckott commented on #24
i see. what if they can still be piped together, so the second argument to gist_map is the file name to use? and if they don't give a file name then you look for geojson files, map first one?, and warn/stop if no geojson files found

[2015-02-16 20:51] sckott commented on #25
so is `x$id` to hard to get to? or is that easy enough?

[2015-02-16 20:53] sckott commented on #25
it's rather difficult data to coerce into a data.frame but we can try

[2015-02-16 23:43] sckott commented on #25
@karthik okay, does this look good?

[code]

and

[code]

and

performing operations on gists from a table

[code]

and those gists are deleted silently (no output)

[2015-02-16 23:44] sckott commented on #25
change from `tbl()` to `tabl()` in 77b3fc4b684a1175e854d4adc5bc81aa7aea79e4

[2015-03-10 00:26] sckott opened #26 "Deal with truncation"
https://developer.github.com/v3/gists/#truncation

Applies for GET requests. if files too large, they are truncated, and only part of the file given back, and a field `truncated: TRUE`. Here's the bit on truncation:

[2015-03-10 00:31] sckott opened #27 "Gist create 405 error with some files"
On `gist_create()` with large files, at least 1.9 MB or larger (the one I found this on), github api returns a `405 - Method not allowed` and html error body

But the same file I can paste into browser to create a gist.

And same file uploaded to make a gist using an npm cli tool works fine too - but they use git, not the http api, so not a fair comparison

Weird, maybe it's something going on wit

[2015-03-10 06:49] sckott opened #28 "fix error catching"
Error status code come before header check, and maybe stop instead of warn

[2015-03-18 18:27] jennybc opened #29 "gist_create(file, knit = TRUE, source = TRUE) should work for an R script"
Riffing on this example from `gist_create()`:

[code]

I define an R script like so:

[code]

and I would expect something like this to work:

[code]

But instead I get this:

[code]

Same result if I remove the YAML front matter, so that's not the problem.

[2015-03-18 18:47] sckott commented on #29
@jennybc Thanks for this.  I'll take a look...

[2015-03-18 19:17] sckott opened #31 "Include files created during knit process"
e.g., if a file is knitted, and creates figures, those currently aren't uploaded

[2015-03-18 20:38] sckott commented on #31
snafu in that binary files can't be uploaded via HTTP API to gists

[2015-03-18 20:39] sckott opened #32 "Deal with binary files"
can only do this via git, we could possibly import `git2r`, then at least temporarily initialize a git repo in the directory in question, upload the binary files after making the gist, then deleting the `.gist/` dir (if user wants it deleted).

See http://stackoverflow.com/a/9855131/1091766
gistup may be of help https://developer.github.com/v3/gists/#create-a-gist

[2015-03-18 20:41] sckott commented on #29
working on this, but also noticed issues with binary files (images) created during knit process - trying to get that solved too

[2015-03-18 22:56] sckott commented on #19
closing, i'll open again if there's any problems

[2015-03-18 22:56] #19 closed

[2015-03-18 22:56] sckott opened #33 "param to upload images"
Suggest users use imgur, or they could toggle parameter to inject imgur code into .rmd file

[2015-03-18 23:10] sckott commented on #29
@jennybc would you normally generate the md from that file with `rmarkdown` package (using `render()`)? or `knitr`

[2015-03-18 23:11] jennybc commented on #29
Honestly I would click the button in RStudio, in this context. So I think that means `render()`.

[2015-03-18 23:36] sckott commented on #29
@jennybc okay, reinstall from master, then try it again, e.g.,

[code]

[2015-03-19 01:41] sckott commented on #31
This issue will deal with non-binary files, e.g., if a file renders and outputs text based files like .txt, .csv, .R, etc.

[2015-03-19 17:41] jennybc commented on #29
Yes it works! But … I like this example even more because I always want the gist to have source and pretty thing.

[code]

Thanks.

[2015-03-19 17:41] #29 closed

[2015-03-19 17:47] jennybc commented on #29
I just realized how garbled up my original example was. Good work figuring out what I meant to post.

So it seems the YAML front matter is quite important. Omit it and the knitted output you get in the gist is the html. How often would anyone want that? IDK but food for thought ….. Control via an argument like `output_format` of `render()` and default to markdown? I don't need a reply.

[2015-03-19 18:10] sckott commented on #29
@jennybc just to clarify, are you saying that sometimes users may not have the front matter, so we should default to markdown output, but allow user to control via a parameter?

[2015-03-19 18:36] jennybc commented on #29
Yes exactly. But maybe I am atypical? I basically always want markdown. In addition to or instead of HTML. Even more so for a gist than in other contexts.

[2015-03-19 19:37] sckott opened #34 "when using rmarkdown::render maybe give option to what render if frontmatter missing"
from #29

[2015-03-19 19:38] sckott commented on #29
Right, okay. I'll play around with that, #34

[2015-03-31 19:23] #28 closed

[2015-03-31 20:04] sckott commented on #27
testing larger files, up to 6 MB or so, and they are fine

Think this has to do with escaping characters in the object. Still working out how to get around this

[2015-03-31 20:12] sckott opened #36 "Allow passing in an R object to gist_create"
Either coerce all objects to json - then when pulled down, jsonlite can convert them back to R objects,

OR

some objects can convert to markdown, like data.frame/matrix to a markdown table

[2015-03-31 21:03] sckott commented on #27
blarg!!! I can't figure this out. There's some files that don't get posted correctly and has something to do with them not being escaped correctly, but haven't quite nailed the reason. I think most files will work though...leaving for now

[2015-03-31 21:17] sckott commented on #31
apparently there's no way to set the directory for all files in knitr, so this may not be workable

[2015-03-31 23:02] sckott commented on #36
got a start on this in the `robjects` branch - seems like we could do better  though, coercing certain inputs to more useful markdown structures, eg.,

[2015-04-01 00:13] #25 closed

[2015-04-01 00:19] sckott commented on #25
@karthik try this out if you have time, i think this is pretty good now

[2015-04-02 21:06] kferris10 opened #37 "Problem with Unicode on Windows"
I am running into an issue with creating gists with unicode characters.

The [characters are mangled](https://gist.github.com/kferris10/ca959056eaa9c8a77be7) when I try this code:

    library(curl)
    d3 <- "https://github.com/mbostock/d3/archive/v3.0.6.zip"
    tmp <- tempfile()
    curl::curl_download(d3, tmp, mode = "wb")
    unzip(tmp)
    unlink(tmp)

    library(gistr)
    gistr::gist_crea

[2015-04-02 22:57] sckott commented on #37
@kferris10 taking a look now, thanks for the report

[2015-04-02 23:30] sckott commented on #37
@kferris10 Can you reinstall from github and try again?  I tested on on my windows virtual machine, and worked for me:

[code]

[2015-04-02 23:32] sckott commented on #37
@benmarwick do you think you could test the above ex?  i think you're on windows?

[2015-04-03 04:48] benmarwick commented on #37
Characters look good to me, using windows:
[code]

Results in this: https://gist.github.com/benmarwick/7efe4346ce99cc63e3df
[code]
My session info:

[code]

[2015-04-03 05:33] sckott commented on #37
great, thanks @benmarwick , let me know if it works for you @kferris10 and i'll close this

[2015-04-05 14:13] kferris10 commented on #37
[It works perfectly](https://gist.github.com/kferris10/11ef5882bd917b01c17b) using the version on github.  Thanks!  Sorry for the confusion

[2015-04-05 14:20] #37 closed

[2015-04-06 18:56] sckott commented on #33
add tests for image support...

[2015-04-06 19:09] #33 closed

[2015-04-06 19:24] sckott commented on #31
going to put this off for a possible solution using `git2r` where users just use git to push to a gist instead, moving to next milestone

[2015-04-06 22:58] sckott commented on #26
for larger files, we could automatically grab files if `truncated=TRUE` in the response body, but we won't know how large these files are, so i think we'd better not grab these automatically, but just message users that

[2015-04-06 22:58] sckott commented on #26
above seem reasonable @jennybc @cpsievert

[2015-04-06 23:29] #26 closed

[2015-04-06 23:35] sckott commented on #16
this seems fixed now, closing

[2015-04-06 23:35] #16 closed

[2015-04-07 00:08] jennybc commented on #26
I don't have anything to say here. Have never run up against this, I guess because I use Gists for truly small things.

[2015-04-07 01:40] sckott commented on #26
thanks @jennybc - just pinged you in case you've dealt with this :smile:

[2015-04-07 02:18] cpsievert commented on #26
Sounds good to me! I assume you'll suggest git2r? ;)

[2015-04-07 03:17] sckott commented on #26
i'm soon going to test out using `git2r`, see these two issues https://github.com/ropensci/gistr/labels/git

following lead of mike bostock's node.js command line client that I believe just uses git instead of the http api -

[2015-04-08 20:10] sckott opened #39 "Does this work okay?"
@cpsievert @jennybc @karthik @cboettig if you get a second, could you test out the git functionality (vs. using the github http api)?

[code]

see examples https://github.com/ropensci/gistr/blob/git2r/R/gist_create_git.R#L7-L29

in the `git2r` branch we're using `git2r` to push to a gist (not a github repo), since gists are git repos just as github repos are. This what mbostocks `gistup` node.js C

[2015-04-08 20:38] cpsievert commented on #39
I see:

[code]

Have people had problems installing **git2r**? If so, maybe you could suggest instead of import (and add a `requireNamespace('git2r')` in `gist_create_git()`)? The primary purpose of adding **git2r** is to request large files, right?

[2015-04-08 20:42] sckott commented on #39
Thanks @cpsievert !  I don't know much about installation problems with `git2r` - I'll look around. I was thinking we may want to do that, not have as Import, but instead as a Suggest,

Have you used `git2r` without problem outside of this example?

[2015-04-08 20:56] cpsievert commented on #39
I actually had to install **git2r** to run this, and it went smoothly. Here is some more info that might help:

[code]

Also, we have [a big hack in animint to upload a screenshots via git](https://github.com/tdhock/animint/blob/master/R/gist.R#L64-L99), so this would be a big improvement :+1:

[2015-04-08 21:01] cpsievert commented on #39
Give me a second to try out a minimal example with __git2r__

[2015-04-08 21:02] sckott commented on #39
@cpsievert thanks for the addtn' info

[2015-04-08 21:11] cpsievert commented on #39
I'm having trouble using `git2r::push()` to push to github. Should I open an issue over at git2r?

[2015-04-08 21:11] sckott commented on #39
@cpsievert hmmm, let me play around real quick

[2015-04-08 21:14] cpsievert commented on #39
Here's what I'm seeing:

[code]

[2015-04-08 21:23] sckott commented on #39
@cpsievert thanks. I got your eg to work with using the ssh URL instead, e.g., `git@github.com:cpsievert/git2rtest.git` instead of  `https://github.com/cpsievert/git2rtest.git` Does that work for you?

[2015-04-08 21:37] cpsievert commented on #39
Ah, this might be part of the problem:

[code]

It could be that I don't have SSH setup correctly (I always use https for the remote)...I'll look into it.

[2015-04-08 21:39] sckott commented on #39
I guess that `https` to `git@` fix is somewhat beside the point, in that we'd want `https` remotes to actually work.  But I think

[2015-04-08 21:45] cpsievert commented on #39
Yea, it appears that the `git@` remote works from my command line:

[code]

[2015-04-08 21:53] sckott commented on #39
hmm, don't know, opened up an issue in git2r repo, see link above

[2015-04-09 03:50] karthik commented on #26
I'm with @jennybc here. My use case for gists is also mostly small, reproducible examples to share and get feedback on and I suspect that is the norm. Even a power developer like Hadley (https://gist.github.com/hadley) has only small examples.

Is there a strong reason to spend so much energy on an edge case? @cpsievert, do you have some special use case that requires loading large files into gist

[2015-04-09 04:11] cpsievert commented on #26
Hey @karthik, we've run across this via `animint::animint2gist()` because some **animint** visualizations require a lot of data ([here's an example from a GOSC applicant that was too big](http://tonytsai.name/FluView/index.html).)

So, this isn't a huge use case, but it'd certainly be nice to have an informative message/warning if things are truncated.

[2015-04-09 04:13] cpsievert commented on #26
BTW, `animint::animint2gist()` is really useful for us since users can automatically share their viz via <http://bl.ocks.org/>

[2015-04-09 04:22] jennybc commented on #26
My vague impression is that the main reason to get this working is so that the upload of binary files into Gists works. One can't do that via browser but can via API. Did I imagine this? At least, that's what I was thinking...

[2015-04-09 04:26] jennybc commented on #26
So I thought the reason to push stuff into a Gist via the GitHub API was so one could upload, e.g. a PNG into a Gist. Whenever I want to put up an example with a figure, I have to stash the figure on imgur or some such, which is kind of annoying. If you could get `gistr` talking to the GitHub API, then this would work. So for me it's not about file size as much as about file type.

[2015-04-09 04:29] sckott commented on #26
AFAIK, truncation (in the context of the github http api) only applies to `GET` requests, not when `POSTing` a new gist.  For creating gists with larger files, max is 1 MB. I think we'll have to go git route for those.

I think the git route is what we want for both large files, and for binary files (including png files).  Got it in draft on a diff. branch, see https://github.com/ropensci/gistr/is

[2015-04-09 04:35] cpsievert commented on #26
Ah, I'm not really concerned about `GET`ing the entire result, I'd just like an informative message when `POST`ing fails (so, yea, #27 would be of higher priority to me :)

[2015-04-09 04:59] sckott commented on #26
@karthik this issue about truncation only applies to GET requests, so I really didn't spend much time on it

the bigger issue I think is posting binary files  - and solving that with git workflow also solves the bigger files issue

[2015-04-09 06:18] karthik commented on #26
Thanks everyone for the explanation. Makes sense to me.

[2015-04-09 16:42] sckott opened #40 "warn about, or stop on, https remotes"
ropensci/git2r#116

[2015-04-09 17:00] sckott commented on #27
@cpsievert did you have any example files i could try for this problem. it seems like some files are fine, and others aren't, so looking for commonalities for those that don't work

[2015-04-09 17:03] sckott commented on #36
this is done

[2015-04-09 17:03] #36 closed

[2015-04-09 17:15] sckott commented on #39
@cpsievert okay, changed `git2r` to a Suggest

[2015-04-09 17:29] sckott commented on #40
hmm, actually i don' think this will be a problem, since internally in `gist_create_git()` we only do ssh route, will open again if it does turn out there's a problem

[2015-04-09 17:29] #40 closed

[2015-04-09 17:30] sckott commented on #31
working now with the git approach

[2015-04-09 19:04] cpsievert commented on #27
Huh, `gist_create()` seems to work even for a single text file over 100MB, which is great!

[code]

And to verify it wasn't truncated:

[code]

After taking a closer look, it seems the animint example that caused me to send that PR fails due to a 422 status code -- I'll start another issue ;)

[2015-04-09 19:06] cpsievert commented on #27
Note this is surprising since the usual restriction is 100MB -- https://help.github.com/articles/what-is-my-disk-quota/

[2015-04-09 19:10] cpsievert commented on #27
So, if it isn't clear, I don't think I have any examples of 405 status codes, but will report if I do.

[2015-04-09 19:15] sckott commented on #27
Yeah, that is surprising.

thanks

[2015-04-09 19:16] cpsievert opened #41 "client error: (422) Unprocessable Entity (WebDAV; RFC 4918)"
Sorry this isn't really a minimal example, but I'm not sure of a good way to reduce it:

[code]

[code]

[2015-04-10 02:22] sckott opened #42 "Better error messages"
e.g., #41

In some cases good error messages are returned from the github api, pass these on

[2015-04-10 02:39] sckott commented on #41
@cpsievert you have a folder in that directory, which i think is what causes the problem.

[2015-04-10 15:47] sckott commented on #41
@cpsievert what would you want to have happen with a folder ? e.g., recursive behavior so that all files in a folder are pushed up?  Or if a folder is found, skip it?

[2015-04-10 15:56] cpsievert commented on #41
whoops, sorry about that, maybe you could add a check at the start of `gist_create()` like:

[code]

?

[2015-04-10 16:01] sckott commented on #41
Yeah, that sounds good to stop if a folder is found,

other than this issue, I think this should work even with the hundreds of files you have in your e.g.

[2015-04-10 16:12] cpsievert commented on #41
Yea, I forgot that in `animint2dir()` we flatten the file structure (which requires changing some hrefs). I'll play around some more and report back.

[2015-04-10 16:17] sckott commented on #41
thanks :+1:

[2015-04-10 18:45] sckott commented on #41
added checks to `gist_create()` for binary files and directories in ad400637857160cef389267bd5245e6627b154e4

[2015-04-13 18:21] cpsievert commented on #41
Thanks, I think it's safe to close this.

[2015-04-13 18:21] #41 closed

[2015-04-13 20:23] sckott commented on #41
cool, thanks for bringing this up

[2015-04-13 21:12] cpsievert commented on #41
No prob, I [flattened the file structure](https://github.com/cpsievert/AnimintTest/commit/e6c0735fadb82f020b5bd0c28c5ea3bb4a36e416) and now I get this error:

[code]

Perhaps I've hit the limit on the _number_ of files?

Shall we migrate to another issue?

[2015-04-13 21:17] sckott commented on #41
i'll try it again, and see if it's a diff. problem... :clock1:

[2015-04-13 22:18] sckott commented on #41
@cpsievert that warning `In max(b) : no non-missing arguments to max; returning -Inf` was just related to a helper fxn for checking for binary files. should be fixed now in commit not yet pushed

For the large number of files you have I think using git will be much easier and faster. Have you tried that?  Is it do-able for your use case?

Using `gist_create()` with this example, it's failing, but

[2015-04-13 22:24] cpsievert commented on #41
Got it, thanks, I'll think about using **git2r** in **animint** instead (I didn't know it was on CRAN!)

[2015-04-13 22:33] sckott commented on #41
yeah, so nice that it's on cran now

[2015-04-13 22:37] #39 closed

[2015-04-13 22:38] #32 closed

[2015-04-28 22:13] sckott opened #44 "Finish off gist_create_obj"
- [x] allow passing in file name, e.g., for geojson, need to have geojson name to render as geojson
- [x] export all extensions

[2015-04-28 22:32] #44 closed

[2015-04-28 23:21] sckott opened #45 "Including git fxn needs to be put off until next version of git2r is on CRAN"
@cpsievert FYI, i'm taking the git fxn out for now, putting on another branch, so that I can continue with the cran submission of the remaining changes.

[2015-04-28 23:22] sckott commented on #45
the mentioned change https://github.com/ropensci/git2r/issues/115

[2015-05-07 22:19] stewid commented on #45
@sckott new version of git2r is now on CRAN.

[2015-05-07 22:19] sckott commented on #45
great :rocket:

[2015-05-07 23:33] sckott commented on #45
wait a day or so, then I'll put git fxn back in to master branch

[2015-05-13 16:23] jennybc opened #47 "Simple usage question"
What's the easiest path to get this Gist into my hands using `gistr`?

https://gist.github.com/expersso/4ac33b9c00751fddc7f8#file-google_maps_with_rvest

I tried this

[code]

I'd like to fork it or get that code on my clipboard or get in a local file. It's just an example of wanting to get someone else's Gist and play with it.

Needless to say, I think this is just a documentation gap. And I obvi

[2015-05-13 17:07] jennybc commented on #47
There's no example for `browse()`. So I just guessed at what sort of input I could provide. And apparently I guessed wrong.

[2015-05-13 17:16] sckott commented on #47
hi @jennybc - good question

right, `browse` just takes a gist class object

[2015-05-13 17:18] sckott commented on #47
browse to the gist in your default browser

[code]

fork a gist and browse to it

[code]

[2015-05-13 17:21] jennybc commented on #47
What if I wanted to fork, pull to my machine, and open/run/edit?

[2015-05-13 17:25] sckott commented on #47
What is the exact behavior you want?

- pull down into memory, then execute one or more files (assuming they are executable)
- pull down gist, save files to disk, then run things from disk
- pull down gist, open file in rstudio to edit

[2015-05-13 17:27] jennybc commented on #47
I was expecting a way to pull down the gist (the original or my fork) into local file(s). And have the path returned/printed? So options 2 or 3 above.

[2015-05-13 17:29] sckott commented on #47
okay

[2015-05-13 17:55] sckott commented on #47
okay, on reinstall see `gist_save()`

[2015-05-13 18:18] jennybc commented on #47
Cool! About to be sucked in to meetings but will try some time later today and close.

[2015-05-13 18:21] sckott commented on #47
:+1:

[2015-05-14 16:45] jennybc commented on #47
Excellent! It all worked. Here are a few suggestions, but feel free to ignore. I'll close anyway.

Consider providing a gist creation/registration function that accepts a browser URL. Digging the gist id out by hand is frustrating. I wrestled a lot with same thing over in googlesheets. The API wants one sort of info, but human beings have easy access to another sort. It's easy to translate between

[2015-05-14 16:45] #47 closed

[2015-05-14 17:00] sckott commented on #47
* can definitely accept a URL in addition to gist id
* file names: hmmm, but if you do push up a gist with those same files, then would you strip the gist ids out?  if not, if you create a new gist, the gist id would be different, and would be diff. from those ids in the file name, kinda confusing
* multiple files: it's vectorized, so if there's multiple files, it saves all, and if you choose to o

[2015-05-14 17:17] sckott opened #48 "Accept gist URL in addition to a gist ID"
from #47

[2015-05-14 17:50] jennybc commented on #47
Yeah, I'm not entirely sure what to do about the file naming. One can think about various round trip scenarios. But in my example, where I've copied someone else's Gist, I'd probably want to record the source id. So if you did anything about this, perhaps it should be controlled via an argument.

[2015-05-14 19:26] sckott commented on #47
Okay, an argument makes sense I think. What about for each gist, create folder of the gist id, then put files in that folder?

[2015-05-14 20:00] jennybc commented on #47
That's a nice idea. You can still have the filenames as they are in the gist this way but, by virtue of the enclosing folder, retain the gist id? The folder to hold multiple files from same gist would be nice anyway.

[2015-05-14 20:07] #48 closed

[2015-05-14 20:09] sckott commented on #47
@jennybc yeah, like

[code]

[2015-05-14 20:10] sckott commented on #47
@jennybc Okay, addressed the URL thing in #48 - reinstall and try passing in a gist URL  - has to be full URL - may want to support partial like

* `gist.github.com/expersso/4ac33b9c00751fddc7f8`
* `expersso/4ac33b9c00751fddc7f8`

[2015-05-14 21:22] sckott opened #49 "On gist_save write files into dir with gist id as dir name"
from #47  e.g.,

[code]

[2015-05-14 22:26] #49 closed

[2015-05-15 02:19] sckott commented on #42
i think this is sufficient at least, reopen if needed

[2015-05-15 02:19] #42 closed

[2015-05-15 02:59] sckott opened #50 "Wait for osx fix"
see ropensci/git2r#131

[2015-05-15 03:20] #45 closed

[2015-05-15 03:20] sckott commented on #31
this should be taken care of

[2015-05-15 03:20] #31 closed

[2015-06-25 00:27] sckott opened #51 "some things may be broken with new httr dep on curl"
:heavy_check_mark:  into it

[2015-06-30 14:01] #51 closed

[2015-06-30 14:18] sckott commented on #50
i guess I'll take git stuff back out for now, so can push fixes to cran

[2015-06-30 14:20] sckott commented on #27
moving to next milestone, need to push fixes to cran

[2015-06-30 15:31] sckott opened #52 "maybe toggle use or rmarkdown"
should help if users have yaml frontmatter

[2015-06-30 15:42] #52 closed

[2015-07-02 23:17] sckott opened #53 "explicitly import all non-base R fxns"

[2015-07-02 23:24] #53 closed

[2015-07-21 14:44] sckott opened #54 "`tabl()` makes rows for each file in a gist"
Can do 2 things with `tabl()`

* Separate row for each file, or
* concatenate fields where there are multiple unique values into one comma sep string

We basically do the first now, but then other fields aren't filled in for each row, and when combined with other gists, means the gist id rows belong with are lost.

I think option 2 might be cleaner, but not sure

[2015-07-21 15:37] sckott commented on #54
blargh, there's also the problem that these can all have multiple records:

* files
* forks
* history

Some fields in the returned gist object are always of length 1 and can be multiplied to length of another thing, but not if more than 1 of above has multiple records.

Really need to put the 3 above into separate tables when more than 1 exists

[2015-07-21 17:33] #54 closed

[2015-07-29 18:25] fallum opened #55 "bad credentials?"
Hi,
Do you have any idea why I am getting this type of error when trying to create a gist?

[code]

[2015-08-13 05:21] sckott commented on #50
`git2r` new version on CRAN https://cran.rstudio.com/web/packages/git2r/index.html binaries soon - once binaries up, can put git2r dependent stuff back in and get it up on cran

[2015-08-25 21:38] sckott opened #56 "With git, when hitting a directory more than once, fails"
Get error message `Remote 'gistr' already exists.`, then only uploads a blank file.

Check this, then fail, or find some way around

[2015-08-26 02:04] sckott commented on #56
was just a problem with forgetting to expand the path, fixed now

[2015-08-26 02:08] #50 closed

[2015-08-26 02:08] #56 closed

[2015-08-26 04:48] sckott opened #57 "Add gist_create_git tests"

[2015-10-09 17:11] sckott opened #58 "In gist_create_git only cleanup temporary files created during process"
not all files in a directory

[2015-10-09 17:33] sckott opened #59 "Check if remote exists - in case it's gone for some rason"
for example, user could have deleted the gist, in which case `gist_create_git()` fails

use `git2r::remote_ls()` https://github.com/ropensci/git2r/pull/172 once next version is on CRAN, but for now not sure what to do

[2015-10-09 18:10] sckott opened #60 "use remote_ls when avail. on CRAN from git2r"
from #59

[2015-10-09 18:31] sckott opened #61 "git_create_gist doesn't check if file exists"

[2015-10-09 18:44] #58 closed

[2015-10-09 18:44] #59 closed

[2015-10-09 18:44] #61 closed

[2015-10-09 19:04] #57 closed

[2015-10-26 13:52] timelyportfolio opened #62 "integrate with blockbuilder.org for post-processing"
blockbuilder.org is a very nice online gist editor primarily built for `d3.js` bl.ocks, but it could easily be used as an online gist editor for anything.  Would it be worthwhile to add a function to open a gist in blockbuilder?

[2015-10-26 15:41] sckott commented on #62
Thanks for the issue. Do you mean that you'd create a Github gist, then open in blockbuilder? Or just create a gist in blockbuilder?

[2015-10-26 15:47] timelyportfolio commented on #62
Sorry, I wasn't clear.  My thought was to open a gist created/updated in R in blockbuilder, so this

[code]
could optionally open in blockbuilder.org rather than gist.github.com.

[2015-10-26 16:09] sckott commented on #62
by in R, do you mean created on Github gists? Or does blockbuilder have its own API to post gists?

Do you have any code yet to do this?

[2015-10-26 16:32] timelyportfolio commented on #62
here is some quick code, but I just realized that blockbuilder.org requires a `index.html` so it does not work in this case.  As an example of a gist created from an `htmlwidget` in `R` that works in blockbuilder, see http://blockbuilder.org/timelyportfolio/2322b6b18d8ad9d6c394.

[code]

[2015-10-26 18:39] sckott commented on #62
We could generate an index.html right? How did you generate that `index.html`?

Also, would blockbuilder only make sense for some kinds of objects?

[2015-10-26 19:21] timelyportfolio commented on #62
Yes, could easily generate index.html. The index.html in the provided example came from `htmlwidgets::saveWidget`.  I'm not sure it makes as much sense with objects as it does with `rmarkdown` and code.

I'm off computer for the next couple of days, but I'll be happy to experiment more.

[2015-10-26 19:28] sckott commented on #62
Cool, when you get back would be nice to see an example with generating an index.html file that will work sending to blockbuilder

[2015-10-26 20:04] ramnathv commented on #62
@timelyportfolio what is the use case for sending html generated from a `htmlwidget` to blockbuilder? Since `htmlwidget` inlines all supporting js/css, `index.html` would be really large and hard to edit. Thoughts?

[2015-10-26 20:09] timelyportfolio commented on #62
Many times I want to quickly demonstrate an htmlwidget with bl.ocks.  To do this, my workflow now with blockbuilder is

1.  experiment and refine code in R
1.  `htmlwidgets::saveWidget`
1.  edit html in RStudio to copy/paste in blockbuilder
1.  write short Readme.md
1.  copy/paste R code in Readme.md
1.  clip screen with my screenclipping and save
1.  add screenclip
1.  share with the world

Most

[2015-10-26 21:52] ramnathv commented on #62
I still fail to understand the benefit that blockbuilder provides here vs. a simple gist. `blocks.org` would render a gist with a `README.md` and `index.html`. Am I missing something here?

[2015-10-26 22:32] sckott commented on #62
Is it worth having a fxn to open a gist in http://bl.ocks.org/ ?

[2015-10-26 23:07] ramnathv commented on #62
@sckott Yes. I am writing some wrapper code that would use `git2r` and `gistr` to automatically save a widget to html, create a thumbnail using `webshot` and push it as a gist and open in `bl.ocks.org`. Right now, running into issues with using `gitr::push`.

[2015-10-26 23:09] sckott commented on #62
@ramnathv we now have an interface around `git2r` (`gist_create_git()`) - though maybe you knew already

[2015-10-26 23:11] ramnathv commented on #62
Oh. wonderful. Sorry, I have not kept up with `gistr`. I should probably do that first.

[2015-10-28 17:15] sckott commented on #62
@ramnathv let me know if you run into any problems

[2015-12-21 23:23] sckott opened #63 "Problem in as.gist.list method"
borking because json keys have changed slightly, make this more robust to chagnes on their end, push chagne to cran

[2015-12-21 23:41] #63 closed

[2015-12-22 06:52] sckott commented on #62
@timelyportfolio Any thoughts on this?  Want to pursue this further?

[2015-12-22 19:23] sckott opened #64 "udpate fxn broken, github api changes"
https://developer.github.com/v3/gists/#edit-a-gist

[2015-12-22 21:05] sckott commented on #64
sorted now

[2015-12-22 21:05] #64 closed

[2016-03-17 23:45] sckott opened #65 "clean up gists from tests/examples/vignettes better"
lots of gists in my account that don't need to be there

[2016-07-08 20:37] sboysel opened #67 "When should getOption("github.username") be checked?"
For example, the error for `gists(what = "mineall")` is somewhat cryptic until you realize  the `github.username` is unset

    <request>
    Headers:
    * Authorization: token abcdefghijklmnopqrstuvwxyz0123456789

    Error: length(url) == 1 is not TRUE

#66 encourages the user to manually set the option if `gists(what = "mineall")` is run when unset.

[2016-07-11 16:56] sckott commented on #67
Thanks - looks like that's the only function that looks for the R option `github.username` so your PR sorts that out. After merging I'll add a note to the docs that users should make sure they have those options set.

[2016-07-11 17:15] #67 closed

[2016-11-22 23:51] elerch commented on #27
I tried to copy/paste the text from the KML attached and got a 405. I then removed all but the section relevant to my use case (Pack 769 placemark), which left me with a 689 line file. It still gave me a 405. Attached is the kml.

Interestingly, I had to compress this as zip because the file type was not supported when adding to this comment. On a hunch I went back to my gist and renamed the file

[2016-11-23 00:18] sckott commented on #27
thanks @elerch

I just downloaded your kml file, unzipped it, and `gist_create("SST SFF 2016.kml")` worked, see gist https://gist.github.com/sckott/69bb19163574a42ab55a7ab5d3b562ea

Not sure why it worked for me. Can you share the larger file and I'll see if that works.

[2016-11-23 15:34] elerch commented on #27
Here you go @sckott. I just went through the same steps as yesterday and, today it works fine in a gist, so maybe my error was transient on the server end. I did notice when I pulled it into the gist yesterday there was no syntax highlighting. Today I got syntax highlighting immediately.

[SST SFF 2016 - Full.kml.zip](https://github.com/ropensci/gistr/files/609239/SST.SFF.2016.-.Full.kml.zip)

[2016-11-23 20:08] sckott commented on #27
thanks, Yep, that full fille works for me, with syntax highlighting. I guess it was just a temporary problem on their side.

[2017-02-27 22:04] sckott opened #68 "replace httr with crul"

[2017-04-18 16:39] sckott opened #69 "rbind_all -> bind_rows"

[2017-04-18 18:20] #69 closed

[2017-04-20 00:54] #24 closed

[2018-03-01 18:22] sckott opened #70 "Check if there's any additional error messages can pass to user when insufficient creds"
see https://github.com/MilesMcBain/gistfo/issues/1

[2018-03-03 16:03] sckott opened #71 "Allow gist() to get specific revision of a gist"
https://developer.github.com/v3/gists/#get-a-specific-revision-of-a-gist

[2018-04-12 06:37] maelle opened #72 "File argument"
Cool package!

* `gist_create` doesn't check whether there is a file or a code before sending something to the API. You can write `gistr::gist_create()` with no arguments which I think one shouldn't be allowed to?

* I wonder whether it'd be possible to post the active document by default? Or maybe that's an RStudio concept? It'd be cool to work on an R script, then post it without having to enter

[2018-04-12 06:41] maelle opened #73 "Error message "Not found" when no authorization"
I first had a GitHub token without the possibility to create gist. I got the "Not found" error because of that which I first interpreted as a problem with my file path. Could the error message be more explicit in this case?

[2018-04-12 06:43] maelle commented on #73
Oops dup of #70

[2018-04-12 06:43] #73 closed

[2018-04-12 16:59] sckott commented on #72
Good idea that it shouldn't be able to take no arguments. Should be given either `file` or `code` argument, so can fail if neither of those given

[2018-04-12 17:03] maelle commented on #72
not necessarily, just one where I'm too lazy to type the path and want the function to understand I mean "this one"

[2018-04-12 18:34] sckott commented on #72
okay, the first issue is fixed, have to pass in files or code now

[2018-04-12 18:40] maelle commented on #72
cool, thx!

[2018-04-12 23:46] sckott commented on #72
@maelle i totally forgot until now about https://github.com/MilesMcBain/gistfo - @MilesMcBain has already got it covered

[2018-04-13 01:51] maelle commented on #72
Right 😀 (I saw it again because of #73 , shoult gistfo be mentioned iin gistr docs?)

so it doesn't make sense for `gistr` itself to recognise the active document?

[2018-04-13 17:15] sckott commented on #72
Yes, we should mention gistfo here.

I don't think so, since `gistfo` already does it, and since it imports this pkg, it'd be a bit weird to then do what `gistfo` does here i think

[2018-04-13 18:25] maelle commented on #72
Makes sense!

[2018-04-13 18:25] #72 closed

[2018-06-27 19:25] sckott opened #74 "Change to toggle how use git2r depending on pkg version"

[2018-06-27 19:25] #74 closed, assigned to nobody

[2018-06-27 21:04] #70 closed

[2018-06-27 21:33] #71 closed

[2018-06-28 14:21] ijlyttle opened #75 "feature request: host arg to gist_create() family"
Would it be possible to add a `host` argument to the `gist_create` family of functions? This would allow people to create gists on their instance of GitHub Enterprise.

I would be happy to make a PR (or a series of PRs).

I may be getting ahead of myself, but I could start with `gist_create_git()`.

Other than the `gist_create()` family, I imagine that `gist_auth()` would be affected. Others?

Tha

[2018-06-28 16:32] sckott commented on #75
Thanks for this issue @ijlyttle

short answer: probably 🤔

Would it just be changing the base url? its defined here https://github.com/ropensci/gistr/blob/master/R/zzz.R#L65

one issue i see is that i wouldn't be able to test it. e.g. i imagine there's a suite of other login options for GH enterprise (single sign on, etc.)?

[2018-06-28 20:39] ijlyttle commented on #75
I will gladly take a probably, thanks 😀

If I were to start with `git_create_git()`, it may be a bit simpler - at least initially...

In this case, I (think I) could work with these lines: https://github.com/ropensci/gistr/blob/8f74ca7abd91471f5e7355b1425ed8ae45e12e02/R/gist_create_git.R#L182-L186

For the other cases, I can see it will be a bit more challenging 😓

I agree that testing becomes an

[2018-06-28 21:13] sckott commented on #75
That seems reasonable that if it passes with public github then it should be okay with private.

A PR for `gist_create_git` sounds good.

[2018-09-28 18:34] maelle opened #77 "Error: Problems parsing JSON"
[code]

<sup>Created on 2018-09-28 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2018-09-28 18:39] maelle commented on #77
@cderv this was my experimenting with the same idea as yours :wink: https://github.com/tidyverse/reprex/issues/190

[2018-09-28 18:41] sckott commented on #77
forgot we've dealt with this before , see

- https://github.com/ropensci/gistr/issues/33
- https://github.com/ropensci/gistr/issues/4

cant upload binary files with the http api, so got to use git flow instead

see if this example works https://github.com/ropensci/gistr/blob/master/R/gist_create_git.R#L79-L85

[2018-09-28 18:49] maelle commented on #77
Thanks. Now I get a `git2r` error for a change, with the CRAN version, so I'll need to install a dev version probably.

[code]

<sup>Created on 2018-09-28 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2018-09-28 18:51] sckott commented on #77
FWIW i have the CRAN version of `git2r`

[2018-09-28 18:52] maelle commented on #77
But you don't use Windows :wink: I'm installing the dev version, I might report the bug over there if I still get the error.

[2018-09-28 18:56] sckott commented on #77
ok, thanks

[2018-09-28 19:00] maelle commented on #77
My problems are now linked to `git2r`/ssh/Windows as usual, not to `gistr`, so closing this. Thank you!

[2018-09-28 19:00] #77 closed

[2019-05-15 13:57] jsta opened #78 "Example use case with round trip data.frame"
The current use case example of writing json text is great. Maybe a `data.frame` example might also be useful? I suspect there is a cleaner way of doing this but I worked out one way of round tripping a `data.frame` to gist: https://gist.github.com/jsta/b8e18d281f70f755bede10af8997b63e

[2019-05-15 18:09] sckott commented on #78
thanks @jsta example where? readme? somewhere else?

that example looks good to me

[2019-05-16 14:34] jsta commented on #78
Maybe in `inst/vign/gistr_vignette.Rmd`? Seems like the vignette is manually synced with the README.

[2019-05-29 17:04] sckott commented on #78
That vignette is a good place  - PR if you have time to that location. I am a weird one, i like to have vignettes pre-rendered so users don't have to build vignettes and they aren't built on check 😛

[2019-07-23 18:15] #78 closed

[2019-11-19 17:36] tdhock opened #80 "GITHUB_PAT error on travis"
Hi, I trying to post a gist in a test on travis, and this has worked fine in the past, but recently I am getting a "please set GITHUB_PAT" error on travis https://travis-ci.org/tdhock/animint2/jobs/583994090#L8681 but I have set GITHUB_PAT in my Travis Repository settings, as described in the travis docs here https://docs.travis-ci.com/user/environment-variables/#defining-variables-in-repository-s

[2019-11-19 17:52] sckott commented on #80
I don't know of anything that changed. What version of gistr and R?

[2019-11-19 17:56] tdhock commented on #80
travis says R-3.6.1 https://travis-ci.org/tdhock/animint2/jobs/583994090#L672 and gistr-0.4.2 https://travis-ci.org/tdhock/animint2/jobs/583994090#L925

[2019-11-19 18:21] sckott commented on #80
thanks, looking

[2019-11-19 18:39] sckott commented on #80
i just looked at gistr travis builds and they're also faililng, seems that the PAT needs to have `gist` scope selected. I can't remember if that was available years back or not, but anyway, the PAT you use has to have gist scope. updating the docs now.

[2019-11-19 20:43] tdhock commented on #80
my PAT does have gist scope.

[2019-11-19 23:20] sckott commented on #80
hmm, in the raw travis log it has

[code]

this repo on travis raw log has

[code]

i'd think the travis log would show that a GITHUB_PAT env var was set if it was provided, or no?

[2019-11-19 23:46] tdhock commented on #80
I'd think so as well. I see in my travis settings that there is GITHUB_PAT defined, but I don't see "Setting environment variables from repository settings" in my travis build log. Is there some other option I need to enable / use in order to get it to work?

[2019-11-20 01:51] sckott commented on #80
ah, [that link](https://travis-ci.org/tdhock/animint2/jobs/583994090#L8681) is to a a PR  - repository env vars aren't avail to PR's AFAIK

[2019-11-20 04:56] tdhock commented on #80
ok thanks

[2019-11-20 04:56] #80 closed

[2020-01-08 16:39] sckott commented on #34
html seems to no longer be the default, closing

[2020-01-08 16:39] #34 closed

[2020-01-08 16:56] #60 closed

[2020-01-08 16:58] sckott commented on #75
@ijlyttle do you think you'll revisit this as you said in the PR? or should I close?

[2020-01-08 18:07] ijlyttle commented on #75
Let's close - sorry for letting this hang for so long...

[2020-01-08 18:07] #75 closed

[2020-01-09 17:46] sckott commented on #75
no worries, thx

[2020-02-09 20:44] helgasoft opened #81 "delete revisions"
Was trying to use the library for **revision maintenance**.  Unfortunately individual gist revisions cannot be deleted.  Maybe a future enhancement..?

[code]

[2020-02-11 00:06] sckott commented on #81
thanks for this @helgasoft

just so we're on the same page, are you hoping to delete the file on disk that `gist_save` creates? or a revision of a gist on your gists? I assume it's the latter

I've tried to see if the Github api would allow a revision id in a DELETE request but it doesn't seem to work, which is not surprising since the docs https://developer.github.com/v3/gists/#delete-a-gist only

[2020-02-11 00:16] sckott opened #82 "stopstatus() helper fxn not detecting scopes header correctly"
`x$x-oauth-scopes` should be `x$headers$x-oauth-scopes`

leads to gistr stating that there's a PAT scope issue where there isn't one

[2020-02-11 00:17] #82 closed

[2020-04-07 01:15] #27 closed

[2020-07-28 20:02] #81 closed

[2020-07-28 20:02] #65 closed

[2020-07-28 20:02] #62 closed

[2020-07-28 20:03] #68 closed

[2020-08-23 20:59] piotrpiatyszek opened #83 "OAuth authenitication error"
I cannot create gist using OAuth authentication (with PAT everything works). It looks like `gist_auth` should return headers, but it returns empty list.
[code]

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2020-08-24 18:11] sckott commented on #83
thanks, I'll have a look. Are you trying `gist_auth()` in an interactive R session, as it should open a browser tab where you need to approve an app? Or in an non-interactive session?

[2020-08-24 18:31] piotrpiatyszek commented on #83
In interactive session and I approved the app. After that I can even manualy find generated token using.
[code]

[2020-08-26 19:14] sckott commented on #83
@piotrpiatyszek  please try again after reinstalling like `remotes::install_github("ropensci/gistr")`

at some point httr changed where the token was located in the returned object, should work now

[2020-08-27 10:40] piotrpiatyszek commented on #83
Works now, thanks.

[2020-08-27 10:40] #83 closed

[2022-05-10 20:31] jthomasmock opened #84 "Add endpoint for gist commenting"
Howdy! Really enjoying the package, any chance that y'all would add the Gist comment endpoint?

[Gist comments API](https://docs.github.com/en/rest/gists/comments)

I am successfully using something like the below, but that requires me to use some undocumented internal functions, primarily `gistr:::gist_POST()`. Primary usecase is adding Imgur hosted-images to gists, given that images aren't suppo

[2022-05-12 23:13] jthomasmock commented on #84
Ah gotcha, sorry for the drive by request!

I'll take a look but not ready to commit to maintaining as of yet. Not very familiar at all with OOP in `crul`. Would have to think on it. 👍

[2022-05-13 06:19] maelle opened #85 "New Maintainer Wanted :-)"
Or a new maintainer _team_ :smile_cat:

If you're interested, please comment in the issue.

For more info, see

* [our guidance on _Changing package maintainers_](https://devguide.ropensci.org/changing-maintainers.html);
* [our _Package Curation Policy_](https://devguide.ropensci.org/curationpolicy.html).

[2022-05-13 06:20] maelle commented on #84
See #85 (I'll also put it in the newsletter). Thanks @sckott!

FWIW @jthomasmock if you become the maintainer, you can swap dependencies to better fit your preferences. :wink:

[2022-05-18 22:32] jthomasmock commented on #84
Continuing to think this over 😃  - in the meantime, @sckott - do you mind sharing the callback URL you are using for the `gistr_oauth` app so I can do some local testing?

[2022-05-19 23:06] sckott commented on #84
@jthomasmock I would but I don't see it in my account, it's probably an app in the github org account i'm guessing. @maelle could you look?

[2022-05-20 07:46] maelle commented on #84
I don't see an app whose name looks like it's that. :thinking: (I did clean up recently though :see_no_evil: )

[2022-05-20 08:17] Athene-ai commented on #85
I am interested

[2022-05-20 15:16] jthomasmock commented on #84
I was able to find the `gistr_oauth` app in my connections/applications/settings at: https://github.com/settings/connections/applications/89ecf04527f70e0f9730

Not sure if that app ID is a global GUID, but it looks like it may still be under your account @sckott

![Screen Shot 2022-05-20 at 10 14 31 AM](https://user-images.githubusercontent.com/29187501/169558996-712863d4-d00c-454a-8a61-bd33242a3e

[2022-05-20 16:40] maelle commented on #84
Good digging :detective: :ok_hand:

[2022-05-24 04:28] sckott commented on #84
@jthomasmock i found it finally, sorry about the delay. github UI change and I'm totally lost. here's the callback url

http://localhost:1410

[2022-05-30 10:19] maelle commented on #85
The gist API is an example in https://httr2.r-lib.org/articles/wrapping-apis.html#github-gists-api

[2022-05-30 10:19] maelle commented on #84
@jthomasmock ICYMI https://httr2.r-lib.org/articles/wrapping-apis.html#github-gists-api :-)

[2022-06-14 13:44] maelle commented on #85
I'm wondering whether I should archive this package @sckott @jthomasmock (or put the call in next week's newsletter once again as it's a fairly general API).

[2022-06-14 15:25] sckott commented on #85
Doesn't matter to me, if you think archiving is the best move, please do.

[2022-06-14 17:04] jmuhlenkamp commented on #85
I may be interested in maintaining this package.  Will need a few (hopefully short) weeks to look under the hood and come to a decision.  I'm comfortable with developing R packages, but not familiar with the details of `gistr`.  Would also be open to teaming up with any others who may be interested.  Will try to follow-up again by early July.

[2022-06-14 17:26] maelle commented on #85
Ok, let's keep this open, thanks a lot for commenting!

[2022-06-24 14:23] ScientificProgrammer commented on #85
Hi:

I'm interested in helping out as a maintainer. Although I'm not familiar with the `gistr` package, I have many years of experience coding in `C`, `C++`, `Python`, and, of course, `R`. Please let me know how I can help.

[2022-06-28 06:03] maelle commented on #85
Thanks a lot @ScientificProgrammer!

Once @jmuhlenkamp comments again, I can give you both access to the repository.

[2022-06-28 22:32] ScientificProgrammer commented on #85
OK, that sounds good. Once we have access, can you give me some guidance on where I can help most?

At present, I see only one open issue, #84. I read through the thread, and I'm not sure if I understand what's being asked. For example, based on your [last reply](https://github.com/ropensci/gistr/issues/84#issuecomment-1140975704) to the individual who opened the issue, do you think he should simp

[2022-06-29 05:15] maelle commented on #85
Well depending on who ends up being on board, y'all will need to decide whether to keep using crul or to convert the code to using httr2, and also to decide what is in scope.
Thank you!

[2022-07-01 15:19] ScientificProgrammer commented on #85
Thank you for the helpful reply. Just for my clarity, are the existing maintainers leaving the project altogether? Even if that's the case, would they still be available for the new maintainers to ask the occasional question? I'm fine either way, but having the benefit of their knowledge would be very helpful.

[2022-07-01 17:12] sckott commented on #85
I'm available to answer questions, but i won't have time to write any code, etc

[2022-07-02 03:03] ScientificProgrammer commented on #85
Knowing that you'll be avaliable to give occasional input and guidance makes me feel much more confident about taking on a maintainer role. Thank you for all of the great work you've done and for being willing to help out with questions and advice!

[2022-07-03 15:33] jmuhlenkamp commented on #85
Hi all, great to see some chatter in here!  After careful consideration I'm not confident I will have the availability in the near-term to be a proper maintainer.  @ScientificProgrammer all yours, thanks in advance!

[2022-07-03 17:52] XenicLabs commented on #85
Hi @jmuhlenkamp

I do understand and respect your decision. However, I encourage you to think about joining me. Just having another person available even to discuss the occasional idea is so helpful.

[2022-07-03 17:55] ScientificProgrammer commented on #85
Hi @jmuhlenkamp

I do understand and respect your decision. However, I encourage you to think about joining me. Just having another person available even to discuss the occasional idea is so helpful.

---

`PS: My apologies for the previously deleted comment. It was from a work related account.`

[2022-07-04 02:40] PatentInsights opened #86 "Auth authentication error"
I have an issue very similar to  OAuth authenitication error #83.  I have created a Personal Access Token in GIT, ticking the box for writing gists,  and saved this using the line of text - Sys.setenv(GITHUB_PAT = "ghpblahblah") - where "ghpblahblah" was the token generated, which starts with "ghp".  I can see in RStudio (Sys.getenv()) that the token is "ghpblahblahblah", as it should be.

However

[2022-07-04 12:27] maelle commented on #85
Thanks @jmuhlenkamp!

@ScientificProgrammer I've added you to a team that has admin access to this repository. Note that you'll need to have enabled two-factor authentication for your GitHub account https://docs.github.com/en/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication (see also https://ropensci.org/blog/2022/05/16/requiring-2fa-for

[2022-07-04 12:29] maelle commented on #85
@ScientificProgrammer what is your email address? Asking so that rOpenSci community manager @yabellini might send you an invitation to rOpenSci slack workspace.

Also feel free to ask me any question by pinging me in GitHub issues, or using our forum https://discuss.ropensci.org/

[2022-07-28 09:22] #85 closed

[2022-08-02 15:33] ScientificProgrammer commented on #84
Hi Everyone:

I'm writing to let you know that I haven't forgotten about this issue. Rather, in addition to trying to decide out how I should address this issue, I'm also trying to understand where I can start editing in a way so that I don't break the package with my first contributions. I'm going to follow up with @maelle via our Slack channel to get some tips for first time contributors to an r

[2022-08-02 16:05] ScientificProgrammer commented on #86
Hi @PatentInsights:

Currently, I am [weighing implementing](https://github.com/ropensci/gistr/issues/84#issuecomment-1133027245) the `httr2` package which should make `oauth` authentication simpler and more robust than it is currently. I have just assumed responsibility for maintaining the [gistr](https://github.com/ropensci/gistr) package, so I'm still trying to figure out where best to start. I

[2022-08-02 22:35] PatentInsights commented on #86
Thanks! I got there in the end....but it was more difficult than it could
have been. But this may have been partially due to incomplete documentation.

Warm regards,

*Mike Lloyd                              *
*Director*
Patent-Insights Pty Ltd <https://www.patent-insights.com/>:

Commercially-focused IP searching and analytics
Australasian agent for* Patseer <https://patseer.com/>* patent search

[2022-08-08 21:51] ScientificProgrammer commented on #86
Hi Mike,

Thanks for closing the loop on this issue. I'll go ahead and close the issue. However, before I do, if you want to share any insights with me, such as suggestions for how best to update the documentation for the current implementation, I'm very interested in your input.

I'm still studying the package's current implementation, which also includes trying to decide how much emphasis I shou

[2022-08-09 00:04] PatentInsights commented on #86
Hello Eric,

Thank you for your enthusiasm.

I looked up my old project files. I am relatively new at this, and the
answer turned out to be the suffix: gist_auth(reauth = T).

So:

Sys.setenv(GITHUB_PAT = "PAT with gist scopes enabled here")
gist_auth(reauth = T).

I had previously set up another gist scope, and this was interfering with
the setting of the scope.

On Tue, 9 Aug 2022 at 07:51, Eric

[2022-08-09 00:11] ScientificProgrammer commented on #86
That's very helpful. I've made a similar mistake countless times, and from a software side, it's fairly easy to check permissions, then give more descriptive feedback when something fails. For now, I'll put a note in the documentation, but I'll also look into the current code to see how it works. If I'm unable to easily perform a more automated diagnostic for permissions, perhaps by returning a mo

[2022-08-09 00:13] #86 closed

[2022-09-09 08:23] maelle opened #87 "Add Eric Milgram as maintainer to DESCRIPTION"
@ScientificProgrammer would you please add yourself as maintainer to DESCRIPTION? Feel free to ask me any question (my last Slack answer was delayed because of vacation)

[2022-10-05 12:56] ThierryO opened #88 "Add link to the git2rdata package"
https://github.com/ropensci/gistr/blob/8b3d8add1c7d3c8d0ea7feccacd80275ab3a1ade/README.Rmd#L27

Could you add `git2rdata` to the `seealso` list?

[code]

[2022-10-11 01:24] #88 closed

[2022-10-11 01:30] ScientificProgrammer commented on #87
Issue completed.

[2022-10-11 01:30] #87 closed

[2022-10-17 20:31] ScientificProgrammer opened #89 "Need help with 2 CI/CD action failures after making 2 relatively minor updates and then pushing to the master branch"
Hi @maelle and @sckott,

Recently, I made two updates to the repo, which I thought would be very minor. These changes, which were in relation to Issue #87  and #88. Because I didn't anticipate any serious issues due to these updates being so minor, I just edited them directly via the Github website editor and pushed the changes to the `master` branch.

Unfortunately, I just noticed that the CI/CD

[2022-10-17 20:52] sckott commented on #89
I see that some tests in `test-star.R`  are failing. I'd first see if I can replicate the problem locally. Can you?

[2022-10-18 08:11] maelle opened #90 "Replace git2r with gert?"
Since for instance usethis uses gert, maybe it is more likely that users already have gert installed.

[2022-10-18 08:17] maelle commented on #89
I think at least part of the problem comes from the GitHub Actions workflow being so old, I modernized it by using `usethis::use_github_action_check_standard()` cf https://usethis.r-lib.org/reference/github_actions.html (in #91)

[2022-10-20 18:34] #89 closed

[2022-10-20 18:36] ScientificProgrammer commented on #90
I'll review this proposed change this weekend and update the code base accordingly. Thanks again for your help!

[2022-10-21 04:56] maelle commented on #90
You can also reject the suggestion. :smile_cat:

[2022-10-21 05:05] maelle opened #92 "fix PAT issue in GHA"
@ScientificProgrammer  I can help with this if needed! The tests are failing (my fault, I should have foreseen this) because they use the default GitHub Personal Access Token for the actions as opposed to one with gist scope.

## Easy workaround

What's needed

- creating a GitHub PAT with the correct scopes for this package (including gist scope). Hopefully you can create a fine-grained one https

[2022-10-21 16:28] ScientificProgrammer commented on #92
Hi Maelle,

I want to collaborate with you on the better solution, which is independent of a PAT.

However, as a short term solution, should I go ahead and create a PAT with fine grained permissions, since  I'm familiar with that process? If so, should I create one each for you and me?

[2022-10-21 16:37] maelle commented on #92
Yes it sounds reasonable as a first time solution to create one for you and one for the repo settings (I use my own PAT locally). :-)

[2022-11-09 22:08] sckott opened #93 "change maintainer on cran"
@ScientificProgrammer when you get a chance, could you submit a new version to cran changing the maintainer to you? not urgent, but any correspondence from cran will go to me right now, so it'd be good to have it go to you instead. thanks!

[2022-11-09 23:06] ScientificProgrammer commented on #93
Sure. I'll work on this issue this weekend.

[2022-11-09 23:12] sckott commented on #93
thanks!